body{
    margin: 0px;
/* height: 6500px; */
/* position: relative; */
right: 0px;
padding-right: -10px;
/* background-color: cornflowerblue; */
}
.top{
    background-color: #8a7350;
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fafafa;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    align-items: center;
}
.nav{
    
    position: sticky;
    padding: 5px;
    top:0;
    background-color: #191919;
    height: 70px;
    color: white;
    position: sticky;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 100000000000;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
}
.logo img{
    height: 35px;
    padding-left: 10px;
}


@media(max-width:769px){
    .logo{
        justify-content: center;
        width: 100%;
        /* position: absolute; */
        margin-left: 30%;
        
    }

}
@media(max-width:769px){
    .nav{
       height: 50px;
        
    }

}


.servece{
flex-direction: row;
/* background-color: aqua; */
margin-left: 15px;

width: 800px;
}
a{
    text-decoration: none;
    color: #ffffff;
}



@media(max-width:769px){
    .servece{
        display: none;
    }

}

@media(max-width:769px){
    .div p{
        display: none;
    }

}



@media(max-width:769px){
    .img1{
        display: none;
    }

}

@media(max-width:769px){
    .img{
        position:absolute;
        left: -1300px;
        height: 25px;
        top: 8px;
    }

}
@media(max-width:322px){
    .img{
        position:absolute;
        left: -1100px;
        height: 25px;
        top: 8px;
    }

}
@media(max-width:769px){
    .div1{
        margin-right: 50px;
    }

}

.div3{
    display: none;
}

@media(max-width:769px){
    .div3{
        display: block;
        position: absolute;
    }

}



.text3{
    border: 0.5px solid rgb(88, 88, 88);
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    top: -10px;
    text-align: center;
    font-weight: 600;
    font-size:18px ;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif ;
    }

.servece ul{
    padding-left: 0px;
    list-style-type:none; ;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: #fafafa;
    /* background-color: #8a7350; */
    font-weight: 700;
    font-size:16px ;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif ;
}
div img{
    height: 30px;
    /* position: relative; */
    right: 10px;
    margin-top: 0px;
    
    margin-left: 10px;
}
.div{
    position: relative;
    left: 300px;
    top: 20px;
    padding-top: 10px;
    height: 70px;
    display: flex;
    flex-direction: row;
    width: 200px;
    /* background-color: #8a7350; */
}
.d{
    background-color: #890c0c4b;
    height: 400px;
    width: 1000px;
    position: absolute;
    top: 100px;
    display: none;
}
.f:hover{
    display: block;
    background-color: #890c0c4b;
    height: 400px;
    width: 1000px;
    margin-top: 500px;
    /* position: absolute; */
    top: 10px;
}
.div p{
border: 0.5px solid rgb(88, 88, 88);
border-radius: 5px;
padding-left: 50px;
padding-right: 10px;
padding-top: 5px;
padding-bottom: 5px;
position: absolute;
top: -10px;
text-align: center;
font-weight: 600;
font-size:18px ;
font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif ;
}
.div p:hover{
    border: 0.5px solid white;
    border-radius: 5px;
}
.img{
    /* background-color: #8a7350; */
    margin-top: 0px;
    position: relative;
    top: -5px;
}
.img:hover{
    border: 0.5px;
    border-radius: 25px;
    background-color: #3232323a;
    filter: invert(100%);
z-index: 10000;
}
.div1 img{
    height:25px ;
    /* padding: 10px; */
}
.img1{
    filter: invert(100%);
    margin-left: 250px;
    justify-content: center;
}
.img1:hover{
    border: 0.5px;
    border-radius: 25px;
    background-color: #3232323a;
    filter: invert(100%);

}
.img2{
    filter: invert(100%);
}
.img2:hover{
    border: 0.5px;
    border-radius: 25px;
    background-color: #3232323a;
    filter: invert(100%);

}
.img3{
    filter: invert(100%);
}
.img3:hover{
    border: 0.5px;
    border-radius: 25px;
    background-color: #3232323a;
    filter: invert(100%);

}
.purple{
    display: flex;
    justify-content: center;
    height: 70px;
    width: 100%;
    background-color: #414584;
    color: white;
    line-height: 0px;
    margin-bottom: 0px;
}
h3{
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding-top: 10px;
    margin-bottom: 10px;
    
}
h4{
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 0px;
}
.main1{
    width: 100%;
    height: 550px;
    /* background-color: aquamarine; */
    margin: 0px;
    margin-top: -17px;
    position: relative;
    top: 10px;
}
.main1 img{
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0px;
    right: 0px;
}
@media(max-width:769px){
    .main1 img{
        /* display: none; */
        
    }

}
.android{
    display: none;
}
@media(max-width:321px){
    .android{
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        margin: 0px;
        right: 0px;
    }

}




.text1{
    color: #fafafa;
    border: 0px;
    position: absolute;
    top: 150px;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    font-size: 38px;
}
.text1:hover{
    color: #fafafa;
    border: 0px;

}
.text2{
    color: #fafafa;
    border: 0px;
    position: absolute;
    top: 210px;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.text2:hover{
    color: #fafafa;
    border: 0px;

}
.text3{
    color: #000000;
    top: 280px;
    left: 50px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    background-color: #fafafa;
    border-radius: 1px;
    font-size: 16px;
}
.main2{
    /* display: grid; */
    /* background-color: #414584; */
    width: 100%;
    height:555px ;
    position: relative;
    margin: 0px;
    /* top: -25px; */
    
}
.mainimg{
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0px;
    
}
.subdiv{
    height: auto;
display: n;
    width: 100%;
    /* background-color: brown; */
    display: flex;
    flex-direction: row;
    /* gap: 10px; */
}
.virat{
    
    height: auto;
    width: 45%;
    left: 0px;
    margin: 20px;
    margin-right: 0;
    left: 0px;
    display: none;
}
 .anushka{
    position: absolute;
    height: auto;
    width: 45%;
    margin: 20px;
    margin-left: 0;
    padding-left: 30px;
    display: none;
}


@media(max-width:769px){
    .virat{
        display: block;
        margin-top: 50px;
        
    }

}
@media(max-width:769px){
    .anushka{
        display: block;
        margin-top: 50px;
    }

}
@media(max-width:769px){
    .mainimg{
        display: none;
        
    }

}
@media(max-width:769px){
    .virat2{
        height: max-content;
        background-color: #f6efef;
        margin-left: 30px;
        
    }

}




.container {
    text-align: center;
    /* background-color: #d2b99d; */
    top: 40%;
    bottom: 50%;
    position: relative;
    justify-content: center;
    align-items: center;
}
@media(max-width:769px){
    .container{
        background-color: #fafafa;
        top: 0%;
        
    }

}


.container h1 {
    font-size: 38px;
    font-weight: bold;
    color: #191919;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 0px;
}

.container p {
    font-size: 20px;
    color: #191919;
    letter-spacing: 2px;
    margin: 10px 0;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.container button {
    background-color:#191919;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    /* width: 500px; */
    cursor: pointer;
}

.container button:hover {
    background-color: #333;
}








.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    max-width: 1200px;
    margin-left:20px;
    margin-bottom: 20px;
    /* overflow-x: scroll; */
}

.grid-item {
    text-align: center;
    background-color: #fff;
    width: 330px;
}

.grid-item img {
    max-width: 100%;
    height: 350px;
    /* width: 00px; */
    /* border-radius: 10px; */
}
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        position: relative;
        top: 500px;
    }
}

@media (max-width: 323px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
       margin-top: 90px;
       margin-left: 30px;
       
    }
}
@media (max-width: 321px) {
    .grid-item{
      /* overflow-x: scroll; */
      width: 500px;
      height: 500px;
        
    }
}







p {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
}

.price {
    font-weight: bold;
    color: #000;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}

@media (max-width: 769px) {
    .grid-container {
        grid-template-columns: repeat(6, 1fr);
        overflow-x: scroll;
        margin-top: 80px;
        scrollbar-color: black;
    }
}

@media (max-width: 322px) {
    .grid-container {
        grid-template-columns: repeat(6, 1fr);
        overflow-x: scroll;
        scrollbar-color: black;
        scrollbar-width: 5px;
        margin-bottom: 40px;
    }
}
.container2 {
    text-align: center;
    /* background-color: #d2b99d; */
    top: 40%;
    /* bottom: 50%; */
    position: relative;
    left: 1010px;
    top: 220px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
    /* margin-top: 100px; */
    /* background-color: #414584; */
    width: 200px;
    
}
.main3{
    /* display: grid; */
    /* background-color: #414584; */
    width: 100%;
    height:555px ;
    position: relative;
    margin: 0px;
    top: -25px;
    
}
.main3 p{
    position: relative;
    top: 200px;
    left: 920px;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 36px;
    color: #fafafa;
    display:inline;
}
.container2 button {
    background-color:#ffffff;
    color: #000000;
    padding: 0px 30px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    width: 100%;
    
    cursor: pointer;
}
@media(max-width:769px){
    .virat2{
        position: relative;
        top: 600px;
        width: 100%;
    }
}
@media(max-width:769px){
    .container2{
        position: relative;
        /* top: 600px; */
        left: -500px;
        width: 100%;
    }
}
@media(max-width:769px){
    .main3 p{
        position: relative;
        left: 500px;
        top: 500px;
    }
}


#cover {
  width: 800px;
  height: 1160px;
  margin:30px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  position: relative;
}

#cover > img {
  float: left;
  position: relative;
  /* left: -400px; */
  /* border: 2px solid black; */
  width: 45%;
  /* margin: 1.66%; */
  height: 920px;
  width: 90%;
}
.shoeimg2{
    /* position: absolute;
    margin-left: 30px; */
}
@media (max-width: 769px) {
    .cover img {
        height: 500px;
        margin-top:200px ;
        margin-left: 30px;
        position: relative;
        top: 120%;
        margin-top: 40px;
    }
}

@media (max-width: 320px) {
    .cover img {
        height: 240px;
        margin-left: 350px;
        width: 100%;

    }
}

@media (max-width: 322px) {
    .shoeimg {
        /* grid-template-columns: 1fr; */
        margin-right: 0px;
    }
}
@media (max-width: 768px) {
    .shoeimg{
        /* position: absolu;
        left: -530px;
        top: 4850px;
        /* height: 1000px; */
        /* width: 10%;  */
        display: none;
    }
}
@media (max-width: 768px) {
    .title1{
        /* background-color: #414584; */
        /* position: absolu;
        left: -530px;
        top: 4850px;
        /* height: 1000px; */
        /* width: 10%;  */
        display: none;
    }
}
@media (max-width: 769px) {
    .containe4{
        /* position: absolu;
        left: -530px;
        top: 4850px;
        /* height: 1000px; */
        /* width: 10%;  */
        display: none;
    }
}
@media (max-width: 769px) {
    .containe3{
        /* position: absolu;
        left: -530px;
        top: 4850px;
        /* height: 1000px; */
        /* width: 10%;  */
        display: none;
    }
}


.name{
    height: 100px;
    /* background-color:rgb(153, 48, 48) ; */
    position: relative;
    top: 930px;
    left: -1370px;
    width:1000px;
    margin: 0px;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
.name2{
    height: 100px;
    /* background-color: #414584; */
    position: relative;
    top: -165px;
    left: 730px;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}

.container3 {
    /* padding: 50px; */
}
.title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 600px;
}
.subtitle {
    font-size: 24px;
    margin-bottom: 40px;
}
.button {
    background-color: #000;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}
.button:hover {
    background-color: #333;
}


.container4 {
    /* padding: 50px; */
}
.title1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 600px;
}
.subtitle1 {
    font-size: 24px;
    margin-bottom: 40px;
}
.button1 {
    background-color: #000;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}
.button1:hover {
    background-color: #333;
}




@media (max-width: 768px) {
    .container2{
        display: none;
    }
}

@media (max-width: 768px) {
    body{
        width: 1400px;
        margin-right: 0px;
        /* margin-left: 40px; */
    }
}
@media (max-width: 322px) {
    body{
        width: 1200px;
        margin-right: 0px;
        /* margin-left: 250px; */
    }
}



@media (max-width: 769px) {
    .mainimg{
        /* display: none; */
    }
}

@media (max-width: 768px) {
    .main5{
        top: 1250px;
    }
}
.main5{
    /* display: grid; */
    /* background-color: #414584; */
    width: 100%;
    height:555px ;
    position: relative;
    margin: 0px;
    /* top: 700px; */
    
}
.mainimg5{
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0px;
    
}
.subdiv5{
    height: auto;
display: n;
    width: 100%;
    /* background-color: brown; */
    display: flex;
    flex-direction: row;
    /* gap: 10px; */
}

.container5 {
    text-align: center;
    /* background-color: #d2b99d; */
    top: 40%;
    bottom: 50%;
    position: relative;
    justify-content: center;
    align-items: center;
}
@media(max-width:769px){
    .container5{
        background-color: #0a0a0a;
        padding-top: 10px;
        margin-top: 20px;
        top: -5%;
        
    }

}
.virat5{
    position: relative;
    height: 700px;
    margin-top: 120px;
    margin-left: 40px;
    display: none;

}
@media(max-width:769px){
    .virat5{
        display: block;
    position: relative;
    top: 450px;
    height: 1000px;
    margin-top: 120px;
    margin-left: 15%;
    z-index: 10000;
    align-items: center;
    background-color: #414584;
    }
}

.container5 h1 {
    font-size: 38px;
    font-weight: bold;
    color: #ffffff;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 0px;
}

.container5 p {
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 2px;
    margin: 10px 0;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.container5 button {
    background-color:#ffffff;
    color: #000000;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    /* width: 500px; */
    cursor: pointer;
}

.container5 button:hover {
    background-color: #a09e9e;
}



.container6{
    /* text-align: center; */
    /* background-color: #d2b99d; */
    top: 40%;
    bottom: 50%;
    position: relative;
    color: #f6efef;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
}
.container6 h1 {
    font-size: 38px;
    font-weight: bold;
    color: #ffffff;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 0px;
}

.container6 p {
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 2px;
    margin: 10px 0;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.container6 button {
    background-color:#ffffff;
    color: #000000;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    /* width: 500px; */
    cursor: pointer;
}

.container6 button:hover {
    background-color: #a09e9e;
    
}
.heading{
    /* background-color: blueviolet; */
    text-align: center;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 10;
}
.heading h1{
    font-weight: 700;
}
.main7{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    height: 440px;
    max-width: 1460px;
    /* grid-template-rows: 100px 100px 100px 100px; */
    /* background-color: #414584; */
    gap: 30px 30px;
    margin-left: 30px;
    position: relative;
    margin-bottom: 50px;
}
.grids{
    /* background-color: #8a7350; */
    margin:0px ;
    height: 440px;
}
.grids img{
    height:440px ;
    width:345px ;
    margin: 0px;
    object-fit: cover;
}

@media(max-width:770px){
    .main7{
        grid-template-columns: repeat(2,1fr);
        position: relative;
        top: 2150px;
        width: 100%;
        margin-left: 150px;
    }
}
@media(max-width:770px){
    .grids{
        height: 600px;
        width: ;
    }
}




.main8{
    display: grid;
    grid-template-columns:repeat(13,1fr) ;
    height: 440px;
    max-width: 1460px;
    /* grid-template-rows: 100px 100px 100px 100px; */
    /* background-color: #414584; */
    gap: 30px 30px;
    margin-top: 20px;
    margin-left: 30px;
    position: relative;
    margin-bottom: 50px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: thin;  
    scrollbar-color: rgb(71, 62, 64) rgba(192, 194, 195, 0.608);      ;
}
@media(max-width:770px){
    .main8{
        margin-top: 2290px;
    }
}
.grids2{
    background-color: #8a7350;
    margin:0px ;
    height: 140px;
    
}

.grids2 img{
    height:340px ;
    width:345px ;
    margin: 0px;
    object-fit: cover;
}
.sale{
    background-color: #ba2b20;
    position: absolute;
    /* padding-left: 10px; */
    height: 20px;
    width: 50px;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    color: white;
    font-size: 12px;
    text-align: center;
}
.names{
    position: relative;
    /* background-color: aqua; */
    margin: 0px;
    display: flex;
}
.names h2{
    color: #181818;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
}
.price1{
    color:#ba2b20 ;
    position: relative;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}
.price2{
    color:#746c6b6e ;
    position: absolute;
    top: 30px;
    left: 295px;
    text-decoration: line-through rgba(105, 103, 103, 0.493);
}
.recoment{
    margin-left: 30px;
    text-decoration: none;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 40px;
}
.footer{
    margin-top: 150px;
    height: 430px;
    background-color:#191919;
    position: relative;
}
.footergrid{
    display: grid;
    grid-template-columns: 150px 150px 150px ;
    margin-right: 500px;
    /* margin-top: 50p; */
    /* background-color: #414584; */
    justify-content: space-around;
    position: relative;
    left: -25px;
    top: -10px;
    /* display: flex;    */
}
.footers{
    width: 300px;
    margin-left: 0px;
    /* background-color: rgb(79, 46, 3); */
}
.footer ul{
    margin-top: 40px;
    list-style: none;
    line-height: 1.7;
    color: #fafafa;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
}
.footer b{
    margin-top: 40px;
    list-style: none;
    line-height: 1.7;
    color: #fafafa;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
}
.footers1{
    /* background-color: #8a7350; */
    width: 300px;
    margin-top: 30px;
}
.footers2{
    /* background-color: brown; */
    width: 300px;
    margin-right: 0PX;
}
hr{
    width: 1400px;
}
.footers3{
    /* background-color: #dc2828; */
    position: absolute;
    left: 1100px;
    top: 30px;
}
.logogrid{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-template-rows: 50PX 50PX 50PX  ;
    gap: 15px;
}
.logs{
    /* background-color: chartreuse; */
    
    margin-top: 30px;
    height: 30px;
}
.footers img{
    filter: invert(100%);
    height: 25px;
}
.footers3 img{
    filter: invert(100%);
    height: 25px;
}
.puma{
    /* background-color: #414584; */
    position: absolute;
    top: 150px;
}
.puma img{
    height: 40px;
    padding: 10px;
    border: 1px solid rgb(68, 66, 66) ;
    border-radius: 10px;
}
.puma img:hover{
    border: 1px solid rgb(255, 255, 255);
}
.trac{
    margin-left: 100px;
}
.hrgrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    /* background-color: #ba2b20; */
    gap: 10px;
}
.hrgrids{
/* background-color: #8a7350; */

}
.paymentgrid{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px;
    gap: 5px;
}
.payments{
    margin-left: 50px;
    margin-top: 20px;
}
.payments img{
    background-color: white;
    height: 25px;
}
.flag{
    /* background-color: #ba2b20; */
    margin-left: 35%;
    margin-right: 35%;
    border: 1px solid rgb(92, 83, 83);
    padding-bottom: 10px;
    padding-left: 20px;
    margin-top: 20px;
    
}
.flagimg{
    position: relative;
    top: 10px;
    /* border: 1px solid white; */
}
.hrgrids{
    color: #fafafa;
}
@media(max-width:769px){
    .logogrid{
        position:relative;
        /* left: -650px; */
        /* background-color: #414584; */
    }
}
@media(max-width:769px){
    .footers3 b{
        position:relative;
        /* left: -650px; */
        /* background-color: #414584; */
    }
}
@media(max-width:769px){
    .container6{
        display: none;
        background-color: #414584;
    }
}
*{
    box-sizing:border-box;
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
    margin-right: 0px;
}


/* men. css *//* men. css *//* men. css *//* men. css *//* men. css *//* men. css *//* men. css *//* men. css *//* men. css *//* men. css *//* men. css */
/* men. css *//* men. css *//* men. css *//* men. css *//* men. css *//* men. css *//* men. css *//* men. css *//* men. css *//* men. css *//* men. css */



.title p{
    /* background-color: #b53636; */
    word-spacing: 15px;
    margin-top: 40px;
    margin-left: 30px;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}
.title h2{
    font-size: 28px;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin-left: 30px;

}
hr{
    width: 100%;
    /* color: #123455; */
    filter: invert(100%);
}
.filter-container {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 20px;
    /* background-color: #f9f9f9; */
    /* gap: 20px; */
    margin-left: 10px;
   
}
.filter-container select, .filter-container button {
    padding: 10px;
    padding-top: 5px;
    border: 1px solid #ccc;
    /* border-radius: 5px; */
    background-color: white;
    cursor: pointer;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #080808f1;
    
}
.filter-icon {
    font-size: 18px;
    margin-right: 10px;
}
.products{
    margin-left: 30px;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}
.shoesection{
    display: flex;
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    height:auto;
    max-width: 1460px;
    /* gap: 30px ; */
    margin-top: 20px;
    margin-left: 30px;
    
    /* grid-template-rows:repeat(5,1fr); */
    /* background-color: #8a7350; */
    gap: 35px 15px;
    margin-left: 30px;
}
@media(max-width:770px){
    .shoesection{
        margin-left: 100px;
        grid-template-columns:repeat(3,1fr) ;
    }
}
@media(max-width:322px){
    .shoesection{
        grid-template-columns:repeat(2,1fr) ;
        margin-left: 150px;
        gap: 50px;

    }
}
@media(max-width:322px){
    .section img{
       
        /* margin-left: 50px; */
        height: 500px;
        width: 500px;
    }
}
.section{
    background-color: #414584;
    /* background-color: #8a7350; */
    margin:0px ;
    margin-bottom: 50px;
    height:340px;
    width: 340px;
    overflow-x:scroll ;
    scrollbar-width: thin;  
    scrollbar-color: rgb(71, 62, 64) ;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    z-index: 100000;
}
/* .grids2{
    background-color: #8a7350;
    margin:0px ;
    height: 140px;
    
} */

.section img{
    height:350px ;
    width:350px ;
    margin: 0px;
    object-fit: cover;
    cursor: pointer;
    z-index: 1;
}
.sale{
    background-color: #ba2b20;
    position: absolute;
    /* padding-left: 10px; */
    height: 20px;
    width: 50px;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    color: white;
    font-size: 12px;
    text-align: center;
    z-index: 100;
}
.shnames{
    position: absolute;
    padding-top: 350px;
    /* top: 115%; */
    /* background-color: aqua; */
    margin: 0px;
    display: flex;
    cursor: pointer;
}
.shnames h2{
    color: #181818;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    /* background-color: #000000; */
}
.price1{
    color:#ba2b20 ;
    position: relative;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}
.price2{
    color:#746c6b6e ;
    position: absolute;
    top: 370px;
    left: 275px;
    text-decoration: line-through rgba(105, 103, 103, 0.493);
}
.loading{
    margin-top: 50px;
    background-color: #333;
    width: 100%;
    height: 100px;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #fafafa;
}
.footer2{
margin-right: 50px;
}
.footer2 h1{
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin-left: 30px;
    margin-top: 50px;
}
.footer2 p{
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.popular{
    margin-top: 0px;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #000000fc;
}